node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
# Bỏ qua môi trường ảo Python
venv/
.venv/

# Bỏ qua các file thư viện Node (nếu có)
node_modules/

# Bỏ qua file mô hình nặng TensorRT
*.engine